<html>
    <head>
        <link href="https://fonts.googleapis.com/css?family=Abel|Audiowide&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <link rel="stylesheet" type="text/css" href="/css/help.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <title>CRIPTA</title>
    </head>
    <body>
        <nav>
            <div class="nav-wrapper">
                <a href="/" class="brand-logo center">CRIPTA</a>
                <a href="/help"><i class="help-icon material-icons right">help</i></a>
            </div>
        </nav>

        <!-- Help section -->
        <div class="container" style="border: white;">
            <!-- blue-grey darken-4 -->
            <div class="card" 
            style="background-color: #3b3f41;">
                <div class="card-content white-text">
                  <span class="card-title">What is 
                      <span style="font-family: Audiowide;">CRIPTA</span> ?
                  </span>
                  <p>
                      Cripta is a tool that helps you to monitor crypto prices in realtime. <br/>
                      It was made as an experiment to figure out whether <a href="https://github.com/kshitij86" style="text-decoration: double;">@kshitij86</a> can make API calls in every possible language or not. 
                  </p>
                </div>
                <div class="card-action">
                  <a class="learn-more" href="https://en.wikipedia.org/wiki/Cryptocurrency"
                  style="color: white; text-transform: capitalize;">
                    Learn more about cryptocurrencies 
                </a>
                </div>
              </div>
        </div>

    </body>
</html>